<a href="https://colab.research.google.com/github/gillilandim/Gilliard/blob/main/C%C3%B3pia_de_Prova_modulo7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
############## Prova modulo 7

In [ ]:
import pandas as pd

# 1. Importando o arquivo CSV
df = pd.read_csv("dataframe_exercicio_modulo_7.csv")

# Exibindo as primeiras linhas para verificar
print(df.head())

   idade  tempo_educacao        estado_civil    cor    sexo  horas_por_semana  \
0   39.0              13       Never-married  White    Male                40
1   50.0              13  Married-civ-spouse  White    Male                13
2   38.0               9            Divorced  White    Male                40
3   53.0               7  Married-civ-spouse  Black    Male                40
4   37.0              14  Married-civ-spouse  White  Female                40

  salario_anual  nome  dívida
0         <=50K   NaN     NaN
1         <=50K   NaN     NaN
2         <=50K   NaN     NaN
3         <=50K   NaN     NaN
4         <=50K   NaN     NaN

In [ ]:
### Passo 2 verificando as dimensões do dataframe

In [ ]:
dimensoes = df.shape
print(f"Dimensões do dataframe: {dimensoes}")

Dimensões do dataframe: (29170, 9)

In [ ]:
### Passo 3 identificar o tipo das variaveis

In [ ]:
tipos_variaveis = df.dtypes
print(tipos_variaveis)

idade               float64
tempo_educacao        int64
estado_civil         object
cor                  object
sexo                 object
horas_por_semana      int64
salario_anual        object
nome                float64
dívida              float64
dtype: object

In [ ]:
### Passo 4 verificar se existem variaveis faltantes

In [ ]:
variaveis_faltantes = df.isnull().sum()
print(variaveis_faltantes[variaveis_faltantes > 0])

idade        99
nome      29170
dívida    29170
dtype: int64

In [ ]:
### Passo 5  Exibir categorias das variáveis 'estado_civil', 'cor' e 'sexo':

In [ ]:
categorias_estado_civil = df['estado_civil'].unique()
categorias_cor = df['cor'].unique()
categorias_sexo = df['sexo'].unique()

print(f"Categorias de estado_civil: {categorias_estado_civil}")
print(f"Categorias de cor: {categorias_cor}")
print(f"Categorias de sexo: {categorias_sexo}")

# Verificando inconsistências
if 'estado_civil' in df.columns:
    print(f"Possíveis problemas em estado_civil: {df['estado_civil'].value_counts()}")
if 'cor' in df.columns:
    print(f"Possíveis problemas em cor: {df['cor'].value_counts()}")
if 'sexo' in df.columns:
    print(f"Possíveis problemas em sexo: {df['sexo'].value_counts()}")

Categorias de estado_civil: ['Never-married' 'Married-civ-spouse' 'Divorced' 'Separated'
 'Married-AF-spouse' 'Widowed' 'Married-spouse-absent']
Categorias de cor: ['White' 'Black' 'Other' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo']
Categorias de sexo: ['Male' 'Female' '?']
Possíveis problemas em estado_civil: estado_civil
Married-civ-spouse       13368
Never-married             9579
Divorced                  4162
Widowed                    902
Separated                  883
Married-spouse-absent      253
Married-AF-spouse           23
Name: count, dtype: int64
Possíveis problemas em cor: cor
White                 25621
Black                  2832
Amer-Indian-Eskimo      296
Asian-Pac-Islander      292
Other                   129
Name: count, dtype: int64
Possíveis problemas em sexo: sexo
Male      18181
Female     9052
?          1937
Name: count, dtype: int64

In [ ]:
### Passo 6 - Tratamento das variáveis faltantes:
df.fillna(df.median(numeric_only=True), inplace=True)  # Substitui valores numéricos faltantes pela mediana
df.fillna(df.mode().iloc[0], inplace=True)  # Substitui valores categóricos pela moda

# Verificando se ainda existem valores faltantes
print(df.isnull().sum())

idade                   0
tempo_educacao          0
estado_civil            0
cor                     0
sexo                    0
horas_por_semana        0
salario_anual           0
nome                29170
dívida              29170
dtype: int64

In [ ]:
### Passo 7 - Transformação "MinMax" e "StandardScaler":
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# 7. Aplique MinMax na variável 'tempo_educacao' e StandardScaler em 'horas_por_semana'
scaler_minmax = MinMaxScaler()
scaler_standard = StandardScaler()

# Aplicando as transformações
df['tempo_educacao_scaled'] = scaler_minmax.fit_transform(df[['tempo_educacao']])
df['horas_por_semana_scaled'] = scaler_standard.fit_transform(df[['horas_por_semana']])

print(df[['tempo_educacao_scaled', 'horas_por_semana_scaled']].head())

   tempo_educacao_scaled  horas_por_semana_scaled
0               0.800000                 -0.03606
1               0.800000                 -2.21050
2               0.533333                 -0.03606
3               0.400000                 -0.03606
4               0.866667                 -0.03606

In [ ]:
###Passo 8 - Aplicar One-Hot Encoding nas variáveis categóricas:
df = pd.get_dummies(df, columns=['estado_civil', 'cor', 'sexo'], drop_first=True)

# Exibindo as primeiras colunas para verificar
print(df.head())

   idade  tempo_educacao  horas_por_semana salario_anual  nome  dívida  \
0   39.0              13                40         <=50K   NaN     NaN
1   50.0              13                13         <=50K   NaN     NaN
2   38.0               9                40         <=50K   NaN     NaN
3   53.0               7                40         <=50K   NaN     NaN
4   37.0              14                40         <=50K   NaN     NaN

   tempo_educacao_scaled  horas_por_semana_scaled  \
0               0.800000                 -0.03606
1               0.800000                 -2.21050
2               0.533333                 -0.03606
3               0.400000                 -0.03606
4               0.866667                 -0.03606

   estado_civil_Married-AF-spouse  estado_civil_Married-civ-spouse  \
0                           False                            False
1                           False                             True
2                           False                            False
3                           False                             True
4                           False                             True

   estado_civil_Married-spouse-absent  estado_civil_Never-married  \
0                               False                        True
1                               False                       False
2                               False                       False
3                               False                       False
4                               False                       False

   estado_civil_Separated  estado_civil_Widowed  cor_Asian-Pac-Islander  \
0                   False                 False                   False
1                   False                 False                   False
2                   False                 False                   False
3                   False                 False                   False
4                   False                 False                   False

   cor_Black  cor_Other  cor_White  sexo_Female  sexo_Male
0      False      False       True        False       True
1      False      False       True        False       True
2      False      False       True        False       True
3       True      False      False        False       True
4      False      False       True         True      False

In [ ]:
### Passo 9 - Detectar e eliminar outliers da variável 'idade':
# 9. Detectar e eliminar outliers da variável 'idade' usando o método do IQR
Q1 = df['idade'].quantile(0.25)
Q3 = df['idade'].quantile(0.75)
IQR = Q3 - Q1

# Definindo limites para detecção de outliers
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Eliminando outliers
df_sem_outliers = df[(df['idade'] >= limite_inferior) & (df['idade'] <= limite_superior)]

print(f"Dataframe após remoção de outliers: {df_sem_outliers.shape}")

Dataframe após remoção de outliers: (29044, 20)

In [ ]:
### Passo 10 - Função para aplicar todas as transformações
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

def transforma_dataframe(df_original):
    # Cópia do dataframe original
    df = df_original.copy()


    df.fillna(df.median(numeric_only=True), inplace=True)
    df.fillna(df.mode().iloc[0], inplace=True)


    if 'tempo_educacao' in df.columns:
        df['tempo_educacao'] = pd.to_numeric(df['tempo_educacao'], errors='coerce')
        scaler_minmax = MinMaxScaler()
        df['tempo_educacao_scaled'] = scaler_minmax.fit_transform(df[['tempo_educacao']])
    else:
        print("Coluna 'tempo_educacao' não encontrada.")

    if 'horas_por_semana' in df.columns:
        df['horas_por_semana'] = pd.to_numeric(df['horas_por_semana'], errors='coerce')
        scaler_standard = StandardScaler()
        df['horas_por_semana_scaled'] = scaler_standard.fit_transform(df[['horas_por_semana']])
    else:
        print("Coluna 'horas_por_semana' não encontrada.")


    colunas_categoricas = ['estado_civil', 'cor', 'sexo']
    for coluna in colunas_categoricas:
        if coluna in df.columns:
            df = pd.get_dummies(df, columns=[coluna], drop_first=True)
        else:
            print(f"Coluna '{coluna}' não encontrada.")


    if 'idade' in df.columns:
        Q1 = df['idade'].quantile(0.25)
        Q3 = df['idade'].quantile(0.75)
        IQR = Q3 - Q1
        limite_inferior = Q1 - 1.5 * IQR
        limite_superior = Q3 + 1.5 * IQR
        df = df[(df['idade'] >= limite_inferior) & (df['idade'] <= limite_superior)]
    else:
        print("Coluna 'idade' não encontrada.")

    return df

df_transformado = transforma_dataframe(df)
print(df_transformado.head())

Coluna 'estado_civil' não encontrada.
Coluna 'cor' não encontrada.
Coluna 'sexo' não encontrada.
   idade  tempo_educacao  horas_por_semana salario_anual  nome  dívida  \
0   39.0              13                40         <=50K   NaN     NaN
1   50.0              13                13         <=50K   NaN     NaN
2   38.0               9                40         <=50K   NaN     NaN
3   53.0               7                40         <=50K   NaN     NaN
4   37.0              14                40         <=50K   NaN     NaN

   tempo_educacao_scaled  horas_por_semana_scaled  \
0               0.800000                 -0.03606
1               0.800000                 -2.21050
2               0.533333                 -0.03606
3               0.400000                 -0.03606
4               0.866667                 -0.03606

   estado_civil_Married-AF-spouse  estado_civil_Married-civ-spouse  \
0                           False                            False
1                           False                             True
2                           False                            False
3                           False                             True
4                           False                             True

   estado_civil_Married-spouse-absent  estado_civil_Never-married  \
0                               False                        True
1                               False                       False
2                               False                       False
3                               False                       False
4                               False                       False

   estado_civil_Separated  estado_civil_Widowed  cor_Asian-Pac-Islander  \
0                   False                 False                   False
1                   False                 False                   False
2                   False                 False                   False
3                   False                 False                   False
4                   False                 False                   False

   cor_Black  cor_Other  cor_White  sexo_Female  sexo_Male
0      False      False       True        False       True
1      False      False       True        False       True
2      False      False       True        False       True
3       True      False      False        False       True
4      False      False       True         True      False